<% flash[:alert] and flash[:alert].each do |name, msgs| -%>
  <%=
    content_tag :div, class: "alert" do 
      name == "username" and concat content_tag :div, "User name:"
      concat (content_tag :div do
        msgs.map do |msg|
          content_tag :div, msg
        end.join.html_safe
      end)
    end
  %>
<% end -%>
<%= form_for @user, url: {action: "create"}, as: :user, html: {class: "section container"} do |f| %>
  <div class="column u-cf">
    <h3>Welcome to the pet sloth :)</h3>
  </div>
  <div class="four columns u-cf">
    <%= f.text_field :username, class: "u-full-width", placeholder: "Something to call you." %>
  </div>
  <div class="six columns u-cf">
    <%= f.text_area :body, class: "u-full-width", placeholder: "Pitch yourself to potential collaborators." %>
  </div>
  <div class="six columns u-cf">
    <%= fields_for @tag do |g| %>
    <%=   g.search_field :title, placeholder: "Optionally: label yourself with skills and interests", class: "u-full-width" %>
    <%  end -%>
    <%= content_tag :ul, id: "tags", class: "u-full-width tag-list" do %>
    <%=   content_tag :li, "Hay" %>
    <%  end -%>
  </div>
  <div class="one column u-cf">
    <%= f.submit "Register" %>
  </div>
  <div id="testing"></div>
<% end %>
<%= form_for @tag, url: {action: "search"}, as: :single_tag, remote: true do |f| %>
<%=   f.hidden_field :title %>
<%=   f.hidden_field :active %>
<%  end -%>